# ===================================================================
# tp-dcc requirements file
# ===================================================================

PyYAML
yamlordereddictloader
six
GitPython
sentry-sdk