# ===================================================================
# tp-dcc development requirements file
# ===================================================================

ruff
ruff-lsp
pytest
pytest-cov
PySide6
Qt.py