# ===================================================================
# tp-dcc requirements file
# ===================================================================

git+https://github.com/matiascodesal/Qt.py-stubs.git
sphinx
sphinx_rtd_theme
PyYAML
metayaml
yamlordereddictloader
six
GitPython
sentry-sdk
comtypes
numpy
natsort
overrides
pywin32
PySide2