# ===================================================================
# tp-dcc requirements file
# ===================================================================

setuptools_scm
PyYAML

# sphinx
# sphinx_rtd_theme
# metayaml
# yamlordereddictloader
# six
# GitPython
# sentry-sdk
# comtypes
# numpy
# natsort
# overrides
# pywin32
# scipy
