$matte-black-color:             #151515;
$dynamic-black-color:           #1e1e1e;
$verified-black-color:          #242424;
$tricorn-black-color:           #2f2f2f;
$dark-charcoal-color:           #323232;
$jet-color:                     #353535;
$dead-pixel-color:              #3a3a3a;
$pig-iron-color:                #494949;
$black-oak-color:               #4f4f4f;
$stone-cold-color:              #555555;
$shadow-mountain-color:         #575757;
$industrial-revolution-color:   #737373;
$silver-snippet-color:          #8f8f8f;
$quicksilver-color:             #a6a6a6;
$silver-color:                  #c0c0c0;
$orochimaru-color:              #d9d9d9;
$white-color:                   #ffffff;
$blue-diamond-color:            #0664c3;
$blue-ruin-color:               #0070e0;
$clear-chill-color:             #1890ff;
$sagat-purple-color:            #722ed1;
$cala-benirras-blue-color:      #13c2c2;
$luigi-color:                   #52c41a;
$pinkinity-color:               #eb2f96;
$medium-pink-color:             #ef5b97;
$rouge-sarde-color:             #f5222d;
$laddu-orange-color:            #fa8c16;
$isle-of-sand-color:            #fadb14;
$tomate-concasse-color:         #fa541c;
$veteranys-day-blue-color:      #2f54eb;
$moot-green-color:              #a0d911;
$desert-moss-color:             #bea064;
$beer-color:                    #faad14;

$primary-color: $blue-ruin-color;
$primary1-color: $blue-ruin-color;
$primary2-color: $blue-ruin-color;
$primary3-color: $blue-ruin-color;
$primary4-color: $blue-ruin-color;
$primary5-color: $blue-ruin-color;
$primary6-color: $blue-ruin-color;
$primary7-color: $blue-ruin-color;
$primary8-color: $blue-ruin-color;
$primary9-color: $blue-ruin-color;
$primary10-color: $blue-ruin-color;

$primary-text-color:            $orochimaru-color;
$secondary-text-color:          $quicksilver-color;
$inverse-text-color:            $white-color;
$title-color:                   $white-color;
$border-color:                  $dynamic-black-color;
$background-color:              $dark-charcoal-color;
$background-in-color:           $dead-pixel-color;
$background-out-color:          $pig-iron-color;
$text-box-background-color:     $matte-black-color;
$disable-color:                 $industrial-revolution-color;

$info-color:                    $clear-chill-color;
$info1-color:                   scale-color($info-color, $alpha: -25%);
$info2-color:                   scale-color($info-color, $lightness: -10%, $saturation: 10%);
$info3-color:                   scale-color($info-color, $alpha: -35%);
$info4-color:                   scale-color($info-color, $lightness: -20%, $saturation: 20%);
$info5-color:                   scale-color($info-color, $lightness: -30%, $saturation: 30%);
$info6-color:                   scale-color($info-color, $lightness: -40%, $saturation: 40%);
$info7-color:                   scale-color($info-color, $lightness: -50%, $saturation: 50%);
$info8-color:                   scale-color($info-color, $lightness: -60%, $saturation: 60%);
$info9-color:                   scale-color($info-color, $lightness: -70%, $saturation: 70%);
$info10-color:                  scale-color($info-color, $lightness: -80%, $saturation: 80%);
$success-color:                 $luigi-color;
$success1-color:                scale-color($success-color, $alpha: -25%);
$success2-color:                scale-color($success-color, $lightness: -10%, $saturation: 10%);
$success3-color:                scale-color($success-color, $alpha: -35%);
$success4-color:                scale-color($success-color, $lightness: -20%, $saturation: 20%);
$success5-color:                scale-color($success-color, $lightness: -30%, $saturation: 30%);
$success6-color:                scale-color($success-color, $lightness: -40%, $saturation: 40%);
$success7-color:                scale-color($success-color, $lightness: -50%, $saturation: 50%);
$success8-color:                scale-color($success-color, $lightness: -60%, $saturation: 60%);
$success9-color:                scale-color($success-color, $lightness: -70%, $saturation: 70%);
$success10-color:               scale-color($success-color, $lightness: -80%, $saturation: 80%);
$warning-color:                 $beer-color;
$warning1-color:                scale-color($warning-color, $alpha: -25%);
$warning2-color:                scale-color($warning-color, $lightness: -10%, $saturation: 10%);
$warning3-color:                scale-color($warning-color, $alpha: -35%);
$warning4-color:                scale-color($warning-color, $lightness: -20%, $saturation: 20%);
$warning5-color:                scale-color($warning-color, $lightness: -30%, $saturation: 30%);
$warning6-color:                scale-color($warning-color, $lightness: -40%, $saturation: 40%);
$warning7-color:                scale-color($warning-color, $lightness: -50%, $saturation: 50%);
$warning8-color:                scale-color($warning-color, $lightness: -60%, $saturation: 60%);
$warning9-color:                scale-color($warning-color, $lightness: -70%, $saturation: 70%);
$warning10-color:               scale-color($warning-color, $lightness: -80%, $saturation: 80%);
$error-color:                   $rouge-sarde-color;
$error1-color:                  scale-color($error-color, $alpha: -25%);
$error2-color:                  scale-color($error-color, $lightness: -10%, $saturation: 10%);
$error3-color:                  scale-color($error-color, $alpha: -35%);
$error4-color:                  scale-color($error-color, $lightness: -20%, $saturation: 20%);
$error5-color:                  scale-color($error-color, $lightness: -30%, $saturation: 30%);
$error6-color:                  scale-color($error-color, $lightness: -40%, $saturation: 40%);
$error7-color:                  scale-color($error-color, $lightness: -50%, $saturation: 50%);
$error8-color:                  scale-color($error-color, $lightness: -60%, $saturation: 60%);
$error9-color:                  scale-color($error-color, $lightness: -70%, $saturation: 70%);
$error10-color:                 scale-color($error-color, $lightness: -80%, $saturation: 80%);
$processing-color:              $clear-chill-color;

$tiny-size:                     18pt;
$small-size:                    24pt;
$medium-size:                   32pt;
$large-size:                    40pt;
$huge-size:                     48pt;
$tiny-icon-size:                10pt;
$small-icon-size:               14pt;
$medium-icon-size:              20pt;
$large-icon-size:               24pt;
$huge-icon-size:                28pt;

$round-size:                    3px;
$frameless-round-size:          2px;
$font-size-base:                9pt;
$h1-size:                       $font-size-base * 2.71 pt;
$h2-size:                       $font-size-base * 2.12 pt;
$h3-size:                       $font-size-base * 1.71 pt;
$h4-size:                       $font-size-base * 1.41 pt;

$font-family:                   "Roboto";