/*
.qss is Qt stylesheet and should not be modified directly

.scss is preprocessor for .css like file, more information please see:
  https://sass-lang.com/guide
  https://github.com/spyder-ide/qtsass
  to compile .scss to .qss use command:
    `qtsass ue.scss -o ue.qss`
*/

@import "unreal/unreal.qss";
@import "tpdcc/tpdcc.qss";

