line-length = 79

[lint]
# These codes enable specific rule families in Ruff:
select = [
    "E",  # pycodestyle errors (e.g., indentation, spacing, blank lines).
    "F",  # pyflakes errors (e.g., undefined or unused variables).
    "W",  # pycodestyle warnings (e.g., style issues that aren't strict errors).
    "D",  # pydocstyle (enforces docstrings, including Google/NumPy/reST style).
    "I",  
]

# These codes are explicitly ignored:
ignore = [
    "F401",  # Ignore unused imports (useful during development).
    "D202",  # No blank lines allowed after function docstring.
    "D413",  # Missing blank line after the last section.
    "D205",  # Missing blank line after the section header.
    "D100",  # Missing docstring in a public module.
    "D104",  # Missing docstring in public packages.
]

[lint.isort]
known-first-party = ["tp"]              # Treat `tp` as a first-party package.

[lint.pydocstyle]
convention = "google"                   # Use Google-style docstring convention.
property-decorators = ["@property"]     # Enforce docstrings on properties.

[format]
quote-style = "double"       # Enforce double quotes for strings.
indent-style = "space"       # Use spaces for indentation (per PEP8).