tp-dcc-core:
  version: DEV
  type: tpdcctools
tp-dcc-preferences:
  version: DEV
  type: tpdcctools
tp-dcc-common:
  version: DEV
  type: tpdcctools
tp-dcc-context:
  version: DEV
  type: tpdcctools
tp-dcc-toolbox:
  version: DEV
  type: tpdcctools
tp-dcc-maya:
   version: DEV
   type: tpdcctools
tp-dcc-unreal:
  version: DEV
  type: tpdcctools
tp-dcc-max:
  version: DEV
  type: tpdcctools
tp-dcc-mobu:
  version: DEV
  type: tpdcctools
tp-dcc-houdini:
  version: DEV
  type: tpdcctools
tp-dcc-tools-utility:
  version: DEV
  type: tpdcctools
tp-dcc-tools-rigging:
  version: DEV
  type: tpdcctools
tp-dcc-tools-rig-noddle:
  version: DEV
  type: tpdcctools
tp-dcc-tools-modeling:
  version: DEV
  type: tpdcctools
tp-dcc-tools-animation:
  version: DEV
  type: tpdcctools
tp-game-tools:
  version: DEV
  type: tpdcctools
tp-dcc-pipeline:
  version: DEV
  type: tpdcctools