/*
 --------------------------------------------------------------------------
  Unreal Style
 --------------------------------------------------------------------------
*/

@import "../definitions";

// Main Frames

QMainWindow
{
  background-color: $matte-black-color;
  color: $primary-text-color;
  font-family: $font-family;
}

#centralwidget
{
  background-color: $matte-black-color;
}

QWidget
{
  background-color: $matte-black-color;
  color: $primary-text-color;
  font-family: $font-family;
}

QFrame
{
  background-color: $verified-black-color;
  //border-style: transparent;    with this we lone HLine, VLine display
}

QGroupBox
{
  background-color: $verified-black-color;
  border-style: transparent;
}

QGroupBox
{
  padding-top: 10px;

  &::title
  {
    padding: 0px;
  }
}

// Menu bar and menu tabs

QMenuBar
{
  background-color: $matte-black-color;
  color: $silver-color;

  &::item
  {
    padding: 5px 12px 5px 12px;

    &:selected
    {
      background-color: $shadow-mountain-color;
      color: white;
    }
    &:pressed
    {
      background-color: $blue-diamond-color;
    }
  }
}

QMenu
{
  padding-top: 3px;
  background-color: $tricorn-black-color;

  &::item
  {
    padding: 5px 10px 5px 10px;
    min-width: 180px;

    &:selected
    {
      background-color: $blue-diamond-color;
    }
  }
}

// Most common QWidgets

QLabel
{
  color: $silver-color;
  background-color: transparent;

  &:disabled
    {
        color: $disable-color;
    }
}

QLineEdit,
QComboBox,
QSpinBox,
QDoubleSpinBox
{
  color: $silver-color;
  background-color: black;

  height: 20px;
  padding-left: 6px;

  border-radius: $round-size;
  border: 1px solid $jet-color;
}

QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled,
QTextBrowser:disabled,
QRadioButton:disabled
{
  color: $disable-color;
  background-color: $matte-black-color;
}

QLineEdit:hover,
QComboBox:hover
{
  border-color: $black-oak-color;
}

QLineEdit:focus
{
  border-color: $blue-diamond-color;
}

QComboBox::drop-down
{
  border: none;
  padding-right: 5px;
}

QComboBox::down-arrow
{
  image: url(:/icons/arrow-down.svg);
  width: 15px;

  &:hover {
    image: url(:/icons/arrow-down-white.svg);
  }
}

QComboBox:disabled
{
    color: #8f8f8f;
    background-color: #353535;
    border-style: transparent;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button
{
  image: url(:/icons/arrow-up.svg);

  subcontrol-position: top right;
  padding: 2px 2px 0px 0px;
  width: 15px;
}

  QSpinBox::up-button:hover,
  QDoubleSpinBox::up-button:hover
  {
    image: url(:/icons/arrow-up-white.svg);
  }

QSpinBox::down-button,
QDoubleSpinBox::down-button
{
  image: url(:/icons/arrow-down.svg);

  subcontrol-position: bottom right;
  padding: 0px 2px 2px 0px;
  width: 15px;
}

QSpinBox::down-button:hover,
QDoubleSpinBox::down-button:hover
{
  image: url(:/icons/arrow-down-white.svg);
}


// QAbstract Buttons

QPushButton
{
  background-color: $jet-color;
  padding-top: 3px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 3px;
  border-radius: $round-size;
  //border: 1px solid black;

  &:hover
  {
    background-color: $shadow-mountain-color;
  }
  &:checked
  {
    color: white;
    background-color: $blue-diamond-color;
    &:hover
    {
      background-color: $blue-ruin-color;
    }
  }
  &:disabled
  {
    color: $silver-snippet-color;
    background-color: $jet-color;
    border-style: transparent;
  }
  &:flat
  {
    background-color: transparent;
    color: $silver-color;
    border-style: transparent;

    &:hover
    {
      color: white;
      background-color: $jet-color;
    }
    &:disabled
    {
      color: $shadow-mountain-color;
    }
  }
}

QRadioButton
{
  color: white;
  background-color: transparent;

  height: 20px;

  &::indicator
  {
    height: 9px;
    width: 9px;

    &:checked
    {
      image: url(:/icons/radio.svg);
    }
    &:unchecked
    {
      image: url(:/icons/unradio.svg);
    }
  }
}

QCheckBox
{
  color: white;
  background-color: transparent;

  height: 20px;
}

QGroupBox::indicator,
QCheckBox::indicator
{
  height: 15px;
  width: 15px;
  border-radius: $round-size;
  border: 1px solid $jet-color;
}
QGroupBox::indicator:hover,
QCheckBox::indicator:hover
{
  border-color: $black-oak-color;
}
QGroupBox::indicator:checked,
QCheckBox::indicator:checked
{
  image: url(:/icons/check.svg);
}

QGroupBox::indicator:checked:disabled,
QCheckBox::indicator:checked:disabled
{
  image: url(:/icons/check-disabled.svg);
}


// Views

QTableView,
QTreeView,
QListView
{
  background-color: $matte-black-color;
  outline: none;
}

QTableView::item,
QTreeView::item,
QListView::item
{
  padding: 0px 5px;
}

QTableView::item::selected,
QTreeView::item::selected,
QListView::item::selected
{
  selection-color: white;
  selection-background-color: $blue-ruin-color;
}

QTableView::item::selected:focus,
QTreeView::item::selected:focus,
QListView::item::selected:focus
{
  background-color: $blue-ruin-color;
 }

QTableView::indicator:unchecked,
QTreeView::indicator:unchecked,
QListView::indicator:unchecked
{
  image: url(:/icons/uncheck.svg);
}

QTableView::indicator:checked,
QTreeView::indicator:checked,
QListView::indicator:checked
{
  image: url(:/icons/check.svg);
}

QHeaderView::section
{
  background-color: $tricorn-black-color;
  padding-left: 5px;

  color: $silver-color;
  border: none;

  &::horizontal
  {
    border-left: 1px solid $matte-black-color;
  }
  &::vertical
  {
    border-top: 1px solid $matte-black-color;
  }
  &:hover
  {
    background-color: $jet-color;
  }
}

QTreeView::branch:closed:has-children
{
  image: url(:/icons/triangle-right.svg);

  // This can cause artifacts when painting borders in table or tree views.
  //&:hover
  //{
  //  image: url(:/icons/triangle-right-white.svg);
  //}
}

QTreeView::branch:open:has-children
{
  image: url(:/icons/triangle-down.svg);

  // This can cause artifacts when painting borders in table or tree views.
  //&:hover
  //{
  //  image: url(:/icons/triangle-down-white.svg);
  //}
}

QTableWidget QTableCornerButton::section
{
  background-color: $tricorn-black-color;
}

// Bar like Widgets

QProgressBar
{
  background-color: $matte-black-color;
  border: 1px transparent black;
  height: 10px;
  color: transparent;

  &::chunk
  {
    border-image: url(:/icons/progress-pattern.svg) 0 0 0 0 repeat repeat;
  }
}

QSlider
{
  border: 1px solid $jet-color;
  border-radius: $round-size;

  &:horizontal
  {
    height: 18px;
  }
  &:vertical
  {
    width: 18px;
  }
  &::groove
  {
    border: 1px solid $matte-black-color;
    background: $matte-black-color;
    border-radius: $round-size;

    &:horizontal
    {
      height: 16px;
    }
    &:vertical
    {
      width: 16px;
    }
  }

  &::handle
  {
    background: $jet-color;
    border-radius: $round-size;

    &:hover
    {
      background: $shadow-mountain-color;
    }
    &:horizontal
    {
      width: 30px;
    }
    &:vertical
    {
      height: 30px;
    }
  }
}

QScrollBar
{
  background: $matte-black-color;

  &:horizontal
  {
    height: 11px;
  }
  &:vertical
  {
    width: 11px;
  }
  &::add-page,
  &::sub-page
  {
    background: none;
  }
  &::add-line,
  &::sub-line
  {
    border: none;
    background: none;
  }
  &::up-arrow:vertical
  {
    width: 8px;
    height: 8px;
    image: url(:/icons/arrow-up.svg);
    &:hover
    {
      image: url(:/icons/arrow-up-white.svg);
    }
  }
  &::down-arrow:vertical
  {
    width: 8px;
    height: 8px;
    image: url(:/icons/arrow-down.svg);
    &:hover
    {
      image: url(:/icons/arrow-down-white.svg);
    }
  }
  &::right-arrow:horizontal
  {
    width: 8px;
    height: 8px;
    image: url(:/icons/arrow-right-white.svg);
  }
  &::left-arrow:horizontal
  {
    width: 8px;
    height: 8px;
    image: url(:/icons/arrow-left.svg);
  }
  &::handle
  {
    margin: 2px;
    background: $shadow-mountain-color;
    border-radius: $round-size;
    &:hover
    {
      background: $silver-snippet-color;
    }
  }
}


// Tabs and Dockables

QTabBar
{
  background-color: $matte-black-color;
  border-top-left-radius: $round-size;
  border-top-right-radius: $round-size;

  &::tab
  {
    background-color: transparent;
    padding: 5px;
    margin-right: 2px;
    border: 1px solid $verified-black-color;
    border-bottom: 0px;

    border-top-left-radius: $round-size;
    border-top-right-radius: $round-size;

    &:vertical:right
    {
      border-top-right-radius: $round-size;
      border-bottom-right-radius: $round-size;
    }
    &:vertical:left
    {
      border-top-left-radius: $round-size;
      border-bottom-left-radius: $round-size;
    }
    &:bottom,
    &:top
    {
      min-width: 60px;
    }
    &:left,
    &:right
    {
      min-height: 60px;
    }
    &:hover
    {
      background-color: $verified-black-color;
    }
    &:selected
    {
      background-color: $verified-black-color;
      border-top: 1px solid $primary-color;
    }
  }
  &::indicator
  {
    width: 5px;
    height: 5px;
  }
  &::close-button
  {
    image: url(:/icons/cross.svg);

    &:hover
    {
      image: url(:/icons/cross-white.svg);
    }
    &:!selected
    {
      image: none;
    }
  }
}

QTabWidget
{
  border: none;

  &:pane
  {
    border: 1px solid $verified-black-color;
    border-radius: $round-size;
  }
}

QDockWidget
{
  background-color: $tricorn-black-color;
  font-weight: bold;
  color: $silver-color;
  border-radius: $round-size;

  titlebar-close-icon: url(:/icons/cross.svg);
  titlebar-normal-icon: url();

  &::close-button
  {
    image: url(:/icons/cross.svg);
    background: none;
    border: none;
    icon-size: 5px;

    &:hover
    {
      image: url(:/icons/cross-white.svg);
    }
  }
}

QToolBox::tab
{
  background-color: $tricorn-black-color;
  font-weight: bold;
  color: $silver-color;
  border-radius: $round-size;

  image: url(:/icons/triangle-right.svg);
  image-position: left;

  &:selected
  {
    image: url(:/icons/triangle-down.svg);
  }
}