@import "../definitions";

/* tp/qt/widgets/frameless.py */
FramelessTitleBar
{
  border-radius: $frameless-round-size $frameless-round-size 0 0;
  background-color: $dynamic-black-color;
}

/* tp/qt/widgets/dividers.py */
LabelDivider
{
    background-color: #3e3e3e;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666;
    border-top: 1px solid #2a2a2a;
}

HorizontalLine
{
    background-color: $background-in-color;
    margin-left: 3px;
    margin-right: 3px;
}

/* tp/qt/widgets/labels.py */

BaseLabel
{
    /*padding: 2px;*/
    background-color: transparent;
    /*font-size: @font_size_base@unit;*/
    color: $primary-text-color;
    /*font-weight: 400;*/
}

BaseLabel[theme_level="1"]
{
    font-size: $h1-size;
    font-weight: 500;
    color: $title_color;
}
BaseLabel[theme_level="2"]
{
    font-size: $h2-size;
    font-weight: 500;
    color: $title_color;
}
BaseLabel[theme_level="3"]
{
    font-size: $h3-size;
    font-weight: 500;
    color: $title_color;
}
BaseLabel[theme_level="4"]
{
    font-size: $h4-size;
    font-weight: 500;
    color: $title_color;
}

BaseLabel[theme_underline=true]
{
    text-decoration: underline;
}

BaseLabel[theme_delete=true]
{
    text-decoration: line-through;
}

BaseLabel[theme_strong=true]
{
    font-weight: bold;
}

BaseLabel[theme_code=true]
{
    background-color: $background-out-color;
    border: 1px solid $border-color;
}

BaseLabel[theme_mark=true]
{
    background-color: $warning1-color;
}

BaseLabel[theme_type=danger]
{
    color: $error6-color;
}

BaseLabel[theme_type=warning]
{
    color: $warning6-color;
}

BaseLabel[theme_type=secondary]
{
    color: $secondary-text-color;
}

BaseLabel:disabled
{
    color:$disable-color;
    /*border: 2px dashed @disable_color;*/
    /*background-color: @background_in_color;*/
}