@import "../definitions";

/* tp/qt/widgets/buttons.py */

BaseButton {
    background-color: transparent;
    border: 0 solid transparent;

  &:hover {
    background-color: transparent;
  }
}

/* tp/qt/widgets/frameless.py */
FramelessTitleBar
{
  border-radius: $frameless-round-size $frameless-round-size 0 0;
  background-color: $dynamic-black-color;

  QPushButton {
    background-color: $dynamic-black-color;
  }
}

/* tp/qt/widgets/dividers.py */
LabelDivider
{
    background-color: #3e3e3e;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666;
    border-top: 1px solid #2a2a2a;
}

HorizontalLine
{
    background-color: $background-in-color;
    margin-left: 3px;
    margin-right: 3px;
}

/* tp/qt/widgets/labels.py */

BaseLabel {
  background-color: transparent;
  color: $primary-text-color;

  &[theme_level="1"] {
    font-size: $h1-size;
    font-weight: 500;
    color: $title-color;
  }

  &[theme_level="2"] {
    font-size: $h2-size;
    font-weight: 500;
    color: $title-color;
  }

  &[theme_level="3"] {
    font-size: $h3-size;
    font-weight: 500;
    color: $title-color;
  }

  &[theme_level="4"] {
    font-size: $h4-size;
    font-weight: 500;
    color: $title-color;
  }

  &[theme_underline=true] {
    text-decoration: underline;
  }

  &[theme_delete=true] {
    text-decoration: line-through;
  }

  &[theme_strong=true] {
    font-weight: bold;
  }

  &[theme_code=true] {
    background-color: $background-out-color;
    border: 1px solid $border-color;
  }

  &[theme_mark=true] {
    background-color: $warning1-color;
  }

  &[theme_type=danger] {
    color: $error6-color;
  }

  &[theme_type=warning] {
    color: $warning6-color;
  }

  &[theme_type=secondary] {
    color: $secondary-text-color;
  }

  &:disabled {
    color: $disable-color;
  }
}


/* tp/qt/widgets/stacks.py */
StackHiderWidget {
    background-color: $background-color;
    border-radius: 1px;

      &#selected {
        border-color: transparent $primary-color transparent transparent;
  }
}

StackItem {
  #title {
    background-color: $stack-item-background-color;

    &:hover {
      border: 0px solid transparent;
      background-color: $hover-background-color;
    }
  }

  .QToolButton {
    background-color: transparent;
    border-color: transparent;
  }
}

StackTitleFrame {
  &::lineEdit {
    background-color: transparent;
    font-weight: bold;
    color: $stack-title-color;
    font-family: "Roboto";

    &#disabled {
      color: $stack-title-disabled-color;
    }
  }
}

LineClickEdit {
  font-weight: bold;
  color: $stack-title-color;
  font-family: "Roboto";
}

/* tp/tools/hub/widgets/toolpanel/base.py */

BaseToolPanelWidget {
    font-weight: bold;
    color: $stack-title-color;
    font-family: 'Roboto'
}

ToolsetToolBar{
    background-color: transparent;
}

/* tp/tools/hub/widgets/toolpanelstree.py */

ToolPanelWidgetTreeItem QPushButton,
{
    padding: 3px;
    border: 0 solid transparent;
    background-color: transparent;
    border-radius: 1px;
}


/* tp/qt/widgets/groupedtreewidget.py */

ItemWidgetLabel {
    padding: 2px 0px;
    font-size: $font-size-base;
}

/* tp/qt/widgets/flowtoolbar.py */

FlowToolBar {
  background-color: $dynamic-black-color;

  QPushButton {
    padding: 3px;
    border: 0 solid transparent;
    border-radius: 1px;
  }
}